<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Manager</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <img class="header-logo-image" src="../dist/images/logo.svg" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Mod Menu Manager</h1>
                            <p class="hero-paragraph">Made to simplify the way we mod games, to bring all your mod
                                downloads and guides to 1 place. Simple, as all things should be.</p>
                            <div class="hero-cta"><a class="button button-primary" href="#menus">Menus</a><a
                                    class="button" href="https://discord.radiantcheats.net/" target="_blank">Get in
                                    touch</a></div>
                        </div>
                        <div class="hero-figure anime-element">
                            <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                <rect width="528" height="396" style="fill:transparent;" />
                            </svg>
                            <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                            <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                            <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                            <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                            <div class="hero-figure-box hero-figure-box-05"></div>
                            <div class="hero-figure-box hero-figure-box-06"></div>
                            <div class="hero-figure-box hero-figure-box-07"></div>
                            <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                            <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                            <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div id="menus" class="features-wrap"></div>
                    </div>
                </div>
            </section>

            <section class="cta section">
                <div class="container">
                    <div class="cta-inner section-inner">
                        <h3 class="section-title mt-0">Don't see your menu?</h3>
                        <div class="cta-cta">
                            <a class="button button-primary button-wide-mobile"
                                href="https://discord.radiantcheats.net/" target="_blank">Get in
                                touch</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img class="header-logo-image" src="../dist/images/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <ul class="footer-links list-reset"></ul>
                    <ul class="footer-social-links list-reset"></ul>
                    <div class="footer-copyright">&copy; 2022 Radiant Cheats: Menu Manager. All rights reserved.</div>
                </div>
            </div>
        </footer>
    </div>

    <p id="response" style="display: none;"></p>

    <script src="../dist/js/main.min.js"></script>
    <script>
        fetch('https://raw.githubusercontent.com/RadiantCheats/menu-manager-content/main/menus.json').then(async res => {
            var menus = await res.json()
            for (const menu of menus) {
                const { icon, name, description, locations } = menu;
                $('#menus').append(`
                <div class="feature text-center is-revealing menu" style="visibility: visible;">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="${icon ? `https://raw.githubusercontent.com/RadiantCheats/menu-manager-content/main/${icon}` : '../dist/images/logo.svg'}" alt="Logo">
                                    </div>
                                    <h4 class="feature-title mt-24">${name}</h4>
                                    <p class="text-sm mb-0">${description}</p>
                                    <br>
                                    ${locations.website ? `<a target="_blank" href="${locations.website || 'https://radiantcheats.net'}" class="menu-button hide-underline">Website</a>` : ''}
                                    ${locations.downloads.gta ? `<a target="_blank" href="${locations.downloads.gta || 'https://radiantcheats.net'}" class="menu-button hide-underline">GTA</a>` : ''}
                                    ${locations.downloads.rdr2 ? `<a target="_blank" href="${locations.downloads.rdr2 || 'https://radiantcheats.net'}" class="menu-button hide-underline">RDR2</a>` : ''}
                                    ${locations.downloads.fivem ? `<a target="_blank" href="${locations.downloads.fivem || 'https://radiantcheats.net'}" class="menu-button hide-underline">FiveM</a>` : ''}
                                    ${locations.guide ? `<a target="_blank" href="${locations.guide || 'https://radiantcheats.net'}" class="menu-button hide-underline">Guide</a>` : ''}
                                </div>
                            </div>
    `)
            }
        })
    </script>
</body>

</html>